[submodule "themes/elate"]
	path = themes/elate
	url = https://github.com/saey55/hugo-elate-theme
[submodule "themes/lithium"]
	path = themes/lithium
	url = https://github.com/jrutheiser/hugo-lithium-theme.git
